h1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#333));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery-wrapper>h1::before, .gallery-wrapper>h1::after {
  padding: 0 30px;
  display: inline-block;
  content: "";
  border-top: .7rem solid #ffc324;
  width: 51rem;
  transform: translateY(-1rem);
  background: -webkit-gradient(to right, #ffc324, transparent);
  margin-left: 25px;
  margin-right: 25px;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery-images img {
  width: 83%;
  height: 200px;
  margin-top: 20px;
  margin-left: 14px;
  margin-right: 43px;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media screen and (max-width: 520px) {
  .gallery-wrapper>h1::before, .gallery-wrapper>h1::after {
    width: 7rem;
    margin-left: 2px;
    margin-right: 2px;
  }
  .gallery-wrapper>h1 {
    font-size: 20px;
    font-weight: 300;
  }
}